.gridMessages {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "usersColumn dialogsColumn";
    height: 500px;
    padding-top: 15px;
    padding-bottom: 2px;
}