.formControl.error input,
.formControl.error textarea {
    border: 1px solid red;
}

.formControl.error span {
    color: red;
}

.formControlSummaryError {
    width: 200px;
    border: red 1px solid;
    padding: 5px;
    color: yellowgreen;
}

textarea {
    width: 95%;
    margin: 10px 0 5px 0;
    border-radius: 4px;
}