.formControl.error input,
.formControl.error textarea {
    border: 1px solid red;
}

.formControl.error span {
    color: red;
    display: none;
}

.formControlSummaryError {
    width: 200px;
    border: red 1px solid;
    padding: 5px;
    color: yellowgreen;
}

.formControlSummarySuccess {
    width: 200px;
    border: green 1px solid;
    padding: 5px;
    color: yellowgreen;
}