.aboutMe {
    grid-area: aboutMe;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 10px 10px 0 0;
    padding: 5px 0 10px 10px;
}

.page_name {
    font-size: 24px;
    line-height: 25px;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 10px 0 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1px;
    color: #000;
}

.hover {
    padding: 10px 0 0 0;
    margin: 0 5px 5px 0;
    border-bottom: 1px solid #e7e8ec;
}

li {
    list-style-type: none;
}

.input input {
    border: none;
    outline: none;
    width: 400px;
}

.status {

}

.status span:hover{
    background-color: #f0f2f5;
    cursor: pointer;
}

.status span{
    padding: 0 5px 0 5px;
}

.editLink {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -16px;
    font-size: 13px;
}

.editLink:hover {
    background-color: #fff;
}

.editA:hover {
    text-transform: none;
    color: #929eb0;
    opacity: 100%;
    transition: opacity 0.1s ease;
}

.editA {
    text-transform: none;
    color: #929eb0;
    opacity: 0;
    transition: opacity 0.1s ease;
}