.gridContainer {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "avatar BIO" "friends posts";
}

.avatar {
    grid-area: avatar;
    height: 290px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 10px 10px 90px 0;
}

.photoUpdateBtn {
    text-align: center;
    margin: auto;
}

.friends {
    grid-area: friends;
    height: 250px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: -80px 10px 10px 0;
}

.BIO {
    grid-area: BIO;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 10px 10px 10px 0;
    padding: 0 0 10px 10px;
}

.posts {
    grid-area: posts;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 0 10px 10px 0;
    padding: 0 0 10px 10px;
    height: 100%;
}

.page_name {
    font-size: 24px;
    line-height: 25px;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 10px 0 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1px;
    color: #000;
}

.hover {
    padding: 10px 0 0 0;
    margin: 0 5px 5px 0;
    border-bottom: 1px solid #e7e8ec;
}

li {
    list-style-type: none;
}

.avaImg {
    width: 200px;
    height: 200px;
    margin: auto;
    padding-top: 20px;
}

.blockTitle {
    margin: 5px 0 0 10px;
}

.input input {
    border: none;
    outline: none;
    width: 400px;
}

.status {
    padding: 0 10px 0 10px;
}

.status span:hover{
    background-color: #f0f2f5;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

.status span{
    margin-left: -10px;
    padding: 0 10px 0 10px;
}

.hideInput input {
    display: none;
}

.uploadButton {
    color: #fff;
    text-decoration: none;
    background: #5181b8;
    padding: .7em 1.5em;
    border: none;
    border-radius: 4px;
    margin-top: 5px;
}

.uploadButton:hover {
    background: #2a5885;
}

.uploadButton:active {
    background: rgb(152,15,0);
}

.editLink {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -16px;
    font-size: 13px;
}

.editLink:hover {
    background-color: #fff;
}

.editA:hover {
    text-transform: none;
    color: #929eb0;
    opacity: 100%;
    transition: opacity 0.1s ease;
}

.editA {
    text-transform: none;
    color: #929eb0;
    opacity: 0;
    transition: opacity 0.1s ease;
}

.gridContainerSetting {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content nav";
}

.content {
    grid-area: content;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 10px 10px 10px 0;
    padding: 10px 0 10px 10px;
}

.nav {
    grid-area: nav;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 10px 10px 10px 0;
    padding: 10px 0 10px 10px;
}

.inputLabel label {
    vertical-align: top;
    text-align: right;
}

.inputLabel input {
    margin-left: 1em;
    padding: .5em;
    margin-bottom: .5em;
    margin-right: 15px;
}

.formStyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    display: block;
    background: #fafbfc;
    margin: -10px 0 10px -10px;
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #e7e8ec;
    border-radius: 4px 4px 0 0;
    font-size: 16px;
    outline: none;
    color: #000;
}

.main .mainText {
    margin-left: 15px;
}