.usersColumn {
    grid-area: usersColumn;
    width: 200px;
    z-index: 115;
    top: 15px;
    max-height: 565px;
    background: #fff;
    overflow: hidden;
    overflow-y: auto;
    transition: opacity 0.1s linear;
}

.usersBody {
    height: 50px;
    width: 100%;
    margin-top: 0;
    border-bottom: 1px solid #edeef0;
}

.usersColumn::-webkit-scrollbar {
    display: none;
}