.usersColumn {
    grid-area: usersColumn;
    width: 200px;
    z-index: 115;
    top: 15px;
    max-height: 100%;
    background: #fff;
    overflow: hidden;
    transition: opacity 0.1s linear;
}

.usersBody {
    height: 30px;
    border-bottom: 1px solid #edeef0;
}