.gridContainerSetting {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content nav";
}

.content {
    grid-area: content;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 10px 10px 10px 0;
    padding: 10px 0 10px 10px;
}

.nav {
    grid-area: nav;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 10px 10px 10px 0;
    padding: 10px 0 10px 10px;
}

.inputLabel label {
    vertical-align: top;
    text-align: right;
}

.inputLabel input {
    margin-left: 1em;
    padding: .5em;
    margin-bottom: .5em;
    margin-right: 15px;
}

.formStyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    display: block;
    background: #fafbfc;
    margin: -10px 0 10px -10px;
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #e7e8ec;
    border-radius: 4px 4px 0 0;
    font-size: 16px;
    outline: none;
    color: #000;
}

.main .mainText {
    margin-left: 15px;
}