.header {
    grid-area: header;
    background-color: red;
}

.logo {
    height: 80px;
    background-image: url("http://www.myiconfinder.com/uploads/iconsets/256-256-7bcc3fbdaff0c8fbfa4bf8a868e3f053-facebook.png");
    background-size: 80px auto;
    background-repeat: no-repeat;
}