.header {
    grid-area: header;
    background-color: #4a76a8;
}

.logo {
    background: no-repeat 50% / contain;
    width: 34px;
    height: 19px;
    margin: 11px 10px 0 10px;
}

.loginBlock {
    float: right;
    margin-top: -23px;
    padding-right: 25px;
}