.nav {
    grid-area: nav;
    color: white;
    text-decoration: none;
}

a {
    color: #285473;
    text-decoration: none;
    cursor: pointer;
}

a li {
    list-style-type: none;
    padding: 4px;
    margin: 10px 10px 0 0;
}

a li:hover {
    background: #e1e5eb;
    text-decoration: none;
    border-radius: 2px;
    padding: 4px;
}