.posts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "inputArea" "postsItem";
    grid-area: posts;

}

.inputArea {
    grid-area: inputArea;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 10px 10px 0 0;
    padding: 0 0 0 10px;
}

.postsItem {
    grid-area: postsItem;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 10px 10px 0 0;
    padding: 10px 0 0 10px;
}

.avatar img {
    width: 50px;
    height: 50px;
}

.post {
    padding: 5px;
    display: inline-flex;
}

.text {
    padding-left: 5px;
    padding-right: 10px;
    max-width: 600px;
    word-wrap: break-word;
}

.like {
    margin-top: -10px;
}

.postButton {
    color: #fff;
    text-decoration: none;
    background: #5181b8;
    padding: .7em 1.5em;
    border: none;
    border-radius: 4px;
    margin: 0 22px 0 0;
    float: right;
}

.postButton:hover {
    background: #2a5885;
}

.postButton:active {
    background: rgb(152,15,0);
}

.form {

}

.form textarea {
    width: 70%;
    margin: 9px 0px 5px 0px;
    border-radius: 4px;
    resize: none;
    float: left;
}

.form button {
    width: 25%;
    margin: 10px 10px 0 0;
}

.hover {
    padding: 10px 0 0 0;
    margin: 0 5px 5px 0;
    border-bottom: 1px solid #e7e8ec;
}

.marginPost {
    margin: 0 0 30px 0;
}

.floatRight {
    float: right;
}