.dialogsColumn {
    grid-area: dialogsColumn;
    margin-left: 2px;
    height: 100%;
    box-sizing: border-box;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.messageContainer {
    display: grid;
    grid-template-columns: 55px 1fr 20px;
    grid-template-rows: 25px auto;
    grid-template-areas: "avatar name buttons" "avatar message buttons";
    padding-top: 10px;
}

.messageContainer:hover {
    background: #edeef0;
}

.avatar {
    grid-area: avatar;
}

.avatar img {
    border-radius: 25px;
}

.name {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr;
    grid-template-areas: ". time";
    grid-area: name;
}

.time {
    grid-area: time;
    color: hsla(220,8%,51%,.6);
}

.message {
    grid-area: message;
}

.buttons {
    grid-area: buttons;
    color: #86adff;
    font-size: 12px;
    margin-top: 10px;
}

.buttons:hover {
    color: black;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
}

.inputArea {
    margin-left: 5px;
}

.inputArea textarea {
    width: 80%;
    resize: none;
}

.inputArea button {
    color: #fff;
    width: 105px;
    height: 40px;
    text-decoration: none;
    background: #5181b8;
    border: none;
    border-radius: 4px;
    margin: -42px 17px 10px 0;
    float: right;
}

.inputArea button:hover {
    background: #2a5885;
}

.inputArea button:active {
    background: rgb(152, 15, 0);
}

.dialogItem {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #edeef0;
}

.dialogItem:hover {
    background: #edeef0;
}

.dialogs {
    max-height: 500px;
    height: 500px;
    overflow-y: auto;
    border-bottom: 1px solid #edeef0;
    margin-bottom: 10px;
}